/* LogIn Form - Styles */

.custom-login {
  background: url("https://cdn.pixabay.com/photo/2021/10/31/15/22/paws-6757808_960_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.custom-login a {
  text-decoration: none;
}

.custom-login .action-button {
  position: relative;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  width: 14rem;
}

.custom-login .blue {
  background-color: #3f51b5;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.custom-login .red {
  background-color: #e74c3c;
  border-bottom: 5px solid #c0392b;
  text-shadow: 0px -2px #c0392b;
}

.custom-login .green {
  background-color: #2ecc71;
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
}

.custom-login .yellow {
  background-color: #f1c40f;
  border-bottom: 5px solid #f39c12;
  text-shadow: 0px -2px #f39c12;
}

.custom-login .action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid black;
}