/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/* NavBar */
a {
  text-decoration: none;
  color: #9fcbff;
}

a:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: #9fcbff;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
}

.navbar-custom {
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

/* Header - Portada */
.custom-header {
  background: url("https://cdn.pixabay.com/photo/2019/10/27/07/31/screen-background-4580904_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100vh;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

/* Botones del Header */
.button-custom {
  margin: 2.5rem;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  margin: 0.2rem;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

label:hover {
  color: var(--color);
  border-color: currentColor;
  box-shadow: 0 0 10px currentColor, 0 0 20px currentColor,
    0 0 30px currentColor;
}

/* Nosotros - About Us */
#about-us {
  position: absolute;
  top: -56px;
}

/* Opiniones - Reviews */
#reviews {
  position: absolute;
  top: -56px;
}
.custom-reviews {
  /* background: url("https://cdn.pixabay.com/photo/2017/12/27/14/02/friends-3042751_960_720.jpg"); */
  background: url("https://cdn.pixabay.com/photo/2017/09/03/17/26/woman-2711279_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 50vh;
  background-size: cover;
  color: white;
}

.stars-reviews {
  color: #fff71a;
}

.review {
  /* box-shadow: 7px 7px 13px white; */
  border-style: double;
  border-color: #b13e04;
  background-color: #000000d7;
}

/* Servicios - Services */
#services {
  position: absolute;
  top: -56px;
}

/* Contacto - Contact */
#contact {
  position: absolute;
  top: -56px;
}
