@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */


/* COLOR PRINCIPAL DE LA WEB #3f51b5; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  text-shadow: 0 5px 10px white;
}

/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */
/* BOTONES */
/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */
.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  /* width: 20rem; */
}

.blue {
  background-color: #3f51b5;
  border-bottom: 5px solid #000;
  text-shadow: 0px 1px #000;
}

.red {
  background-color: #e74c3c;
  border-bottom: 5px solid #c0392b;
  text-shadow: 0px -2px #c0392b;
}

.yellow {
  background-color: #ffc107;
  border-bottom: 5px solid #000;
  text-shadow: 0px -2px #ffc107;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 3px solid black;
}

/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */
/* STICKY BOTÓN DE IR ARRIBA - SCROLL */
/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */

.go-up {
  /* display:none; */
  padding: 20px;
  background: #024959;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.simplescrollup__button {
  position: fixed;
  bottom: 0.5rem;
  right: 8rem;
  transition: 1s all;
  z-index: 10000;
}

.simplescrollup__button--show {
  transform: translateX(0);
}

.simplescrollup__button--hide {
  transform: translateX(100px);
}


/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */
/* NOTIFICACIONES - DOT */
/* *+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+* */
[data-notifications] {
  position: relative;
}

[data-notifications]:after {
  content: attr(data-notifications);
  background: #3f51b5;
  border-radius: 50px;
  /* display: inline-block; */
  padding: 0.3em;
  margin: 0.3em;
  color: #f2f2f2;
  /* position: absolute; */
  /* right: -5px; */
  /* top: -20px; */
}