/* Perfil de Usuario | User Profile - Styles */

.user-profile .header {
  position: relative;
  width: 100%;
  height: 10rem;
  border-bottom: 3px solid #fff;
  background-color: black;
  background-position: center;
  background-image: url("https://cdn.pixabay.com/photo/2014/04/04/14/55/dog-313357_960_720.jpg");
  background-size: cover;
}

.user-profile .avatar-user {
  z-index: 1;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* margin-top: -170px; */
  border: 4px solid rgba(255, 255, 255, 1);
}

.user-profile .avatar-dog {
  z-index: 1;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 4px solid rgba(255, 255, 255, 1);
}

.user-profile .tituloperfil h1 {
  color: black;
  text-align: center;
  margin-top: 1rem;
}

.user-profile .tituloperfil p {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.user-profile .boxshadow {
  box-shadow: 5px 5px 5px black;
}

/* Ajustes de las tarjetas de los perros */
.dog-card-information {
  width: 400px;
  height: 300px;
}

.dog-card-information h5,
.dog-card-information p {
  color: #3f51b5;
}

.dog-card-information img {
  opacity: 0.2;
}

.dog-card-information .card-img-overlay {
  align-items: center;
}

.imagen-tarjeta-perrito-user {
  width: 60%;
  height: 70%;
  margin: auto;
}

.custom-icon {
  /* width: 5rem; */
  height: 10rem;
  padding: 10px;
}

.glowing-register-rates input[type="radio"] {
  display: none;
}

.glowing-register-rates label {
  display: flex;
  padding: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

.glowing-register label:hover,
.glowing-register:has(input:checked) label {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5, 0 0 20px #3f51b5,
    0 0 30px #3f51b5;
}

.activeGlowRates label {
  border-color: red;
  box-shadow: 0 0 10px red, 0 0 20px red,
    0 0 30px red;
}