/* Footer Styles */

/* Contacto - Contact */

.btn-instagram {
    background-color: red;
}

.btn-instagram:hover {
    background-color: rgba(255, 0, 0, 0.777);
}

.btn-mail {
    background-color: blue;
}

.btn-mail:hover {
    background-color: rgba(0, 0, 255, 0.777);
}

.btn-telf {
    background-color: green;
}

.btn-telf:hover {
    background-color: rgba(0, 128, 0, 0.777);
}

.btn-github {
    background-color: black;
}

.btn-github:hover {
    background-color: rgba(0, 0, 0, 0.777);
}