/* LogIn Form - Styles */

.custom-form {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.glowing-register input[type="radio"],
.dog-mtn input[type="radio"],
.dog-size input[type="radio"] {
  display: none;
}

.glowing-register label {
  display: flex;
  padding: 1rem;
  /* font-size: 16px; */
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

.glowing-register label:hover,
.glowing-register:has(input:checked) label {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5, 0 0 20px #3f51b5,
    0 0 30px #3f51b5;
}

.activeGlow label {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5, 0 0 20px #3f51b5,
    0 0 30px #3f51b5;
}

.dog-size label {
  display: flex;
  padding: 0.7rem;
  margin: 0.5rem;
  width: 15rem;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

.dog-size label:hover,
.dog-size:has(input:checked) label {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5, 0 0 20px #3f51b5,
    0 0 30px #3f51b5;
}

.dog-mtn input[type="checkbox"] {
  display: none;
}

.services-rates-checkbox input[type="checkbox"] {
  display: none;
}

.dog-mtn label {
  display: flex;
  padding: 0.7rem;
  margin: 0.5rem;
  width: 7rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    box-shadow 0.3s;
}

.dog-mtn label:hover,
.dog-mtn:has(input:checked) label {
  border-color: #3f51b5;
  box-shadow: 0 0 10px #3f51b5, 0 0 20px #3f51b5,
    0 0 30px #3f51b5;
}


.boton-registro-perro {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: blue;
}



/* @media (min-width: 600px) and (max-width: 1280px) {
  .dog-mtn label {
    padding: 0.5rem;
    margin: 0.1rem;
    width: 5.3rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s,
      box-shadow 0.3s;
  } 
}*/