/* TV - Styles */

.container-tv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: radial-gradient(black, #2196f366);
}

.tv {
    background: #333;
    width: 70vw;
    height: 39.375vw;
    border: 2.5vw solid #000;
    border-radius: 0.25vw;
    border-color: #000 #101010 #000 #101010;
    position: relative;
    bottom: 2vh;
    box-shadow: 0 0 5px 0 #000 inset, 5vmin 0vmin 5vmin -3vmin #000, -5vmin 0vmin 5vmin -3vmin #000;
}

.tv:before {
    content: "";
    width: 8vw;
    height: 6vw;
    background: #000000;
    position: absolute;
    bottom: -5.95vw;
    left: calc(50% - 2.75vw);
    border-radius: 0 100%;
    transform: rotate(-42deg);
}

.tv:after {
    content: "";
    width: 8vw;
    height: 6vw;
    background: #000000;
    position: absolute;
    bottom: -5.95vw;
    left: calc(50% - 5.5vw);
    border-radius: 100% 0;
    transform: rotate(42deg);
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video video {
    position: absolute;
    top: 0;
    left: -45%;
    width: 240%;
    height: 100%;
}

.switchinput {
    width: 3vw;
    height: 3vw;
    border: 0;
    position: absolute;
    z-index: 6;
    bottom: -4.25vw;
    left: calc(50% - 1.85vw);
    opacity: 0;
    cursor: pointer;
}

.switch {
    background: #1b1b1b;
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: calc(50% - 1.5vw);
    bottom: -4vw;
    border: 0.35vw solid #4e4e4e;
    z-index: 5;
    border-radius: 100%;
    box-shadow: 0 0 1vw 0px #272727, 0 0 0.5vw 0.1vw #000 inset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked+.switch {
    background: linear-gradient(to bottom, #151515, #3c3c3c);
    color: #fff;
    box-shadow: 0 0 1vw 0 #03a9f480, 0 0 0.15vw 1px #03a9f46e inset, 0 0 0.25vw 0.15vw #000000 inset;
    border-color: #2196f3;
}

.switch::before {
    content: "";
    position: absolute;
    width: 1vw;
    height: 1vw;
    border: 0.35vw solid #4e4e4e;
    border-top-color: transparent;
    border-radius: 100%;
}

input:checked+.switch:before {
    border-color: transparent #03a9f4 #03a9f4 #03a9f4;
}

.switch::after {
    content: "";
    position: absolute;
    width: 0.3vw;
    height: 0.65vw;
    bottom: 1.35vw;
    background: #4e4e4e;
}

input:checked+.switch:after {
    background: #03a9f4;
}

.cover {
    position: absolute;
    background: radial-gradient(transparent, transparent, #00000080);
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 1vmin 0 #000 inset;
}

.cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 19.65vw solid #0a0a0a;
    border-left-width: 35.1vw;
    border-right-width: 35.1vw;
    animation: turn-off 0.15s ease 0s 1, turned-off 1s ease 0.15s infinite, white-dot 0.35s ease 0.15s 1;
}

.cover:after {
    content: "";
    background: linear-gradient(45deg, #ffffff00 15%, #ffffff0d 35%, #ffffff00, #ffffff05, #ffffff20);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

input:checked~.cover:before {
    animation: turn-on 0.15s ease 0s 1, turned-on 1s ease 0.15s infinite;
}

@keyframes turn-on {
    0% {
        border-width: 19.65vw;
        border-left-width: 35.1vw;
        border-right-width: 35.1vw;
    }

    50% {
        border-width: 19.65vw;
        border-left-width: 10vw;
        border-right-width: 10vw;
    }

    100% {
        border-width: 0vh;
        border-left-width: 0vw;
        border-right-width: 0vw;
    }
}

@keyframes turned-on {
    0% {
        border-width: 0;
    }

    100% {
        border-width: 0;
    }
}

@keyframes turn-off {
    0% {
        border-width: 0vh;
        border-left-width: 0vw;
        border-right-width: 0vw;
    }

    50% {
        border-width: 19.65vw;
        border-left-width: 10vw;
        border-right-width: 10vw;
    }

    100% {
        border-width: 19.65vw;
        border-left-width: 35.1vw;
        border-right-width: 35.1vw;
    }
}

@keyframes turned-off {
    0% {
        border-width: 19.65vw;
        border-left-width: 35.1vw;
        border-right-width: 35.1vw;
        background: #111111;
    }

    100% {
        border-width: 19.65vw;
        border-left-width: 35.1vw;
        border-right-width: 35.1vw;
        background: #111111;
    }
}

@keyframes white-dot {
    0% {
        background: #ffffff80;
    }

    100% {
        background: #111111;
    }
}